*{
    margin:0%;
    padding:0%;
}
body{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}
#container{
    background-color: #fff;
    padding:20px;
    border-radius:10px;
    width:250px;
}
form{
    margin-top:20px;
    margin-bottom:20px;
}
form input,select,button{
    width:100%;
    border:none;
    outline:none;
    border-radius:5px;
}
form input{
    border:1px solid lightgray;
    font-size:16px;
    height:25px;
    padding-left:5px;
}
form #dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
}
.select-container img{
    max-width:25px;
}
.select-container{
    display:flex;
    align-items:center;
    justify-content:center;
    border:1px solid lightgray;
    border-radius:5px;
}
#dropdown i{
    font-size:15px;
    margin-top:10px;
}
.select-container select{
    font-size:15px;
    width:auto;
}
#msg{
    margin-top:20px;
    margin-bottom:20px;
}
form button{
    height:30px;
    background-color: #af4d98;
    color:#fff;
    cursor:pointer;
}